<div style='border: dashed red;'>
<% if @name %>
<h1> My Name is <%= @name * @random_number %>
        </h1>
        <% end %>
        <form>
        <input type="text" name="name">
        <input type="submit" value="Submit">
        </form>
        <img src='http://bit.ly/1eze8aE'>
        </div>
